.primary-font{
    font-family: 'Sacramento', cursive;
}

hr.thick {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

body {
  
        background: url("/pothos.jpg");
        background-size: contain;    
}

.layout{
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
}

.layout::after{
    background-color: white;
    content: "";
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

.skill-icon{
    font-size: 36px;
    padding: 4px;
}